/* Include your style in here for all pages. 
Extra style for cssdemo.html can be added in cssdemo.css */

/* Chad Dark Theme Enjoyers. */
@media (prefers-color-scheme: dark) {
    * {
        color: #f0f0f0
    }

    header, footer {
        background-color: #363636;
    }

    body {
        background-color: #121212;
    }

    a.navBar {
        color: #d3d3d3;
    }

}
/* Light Theme users. */
@media (prefers-color-scheme: light) {
    * {
        color: #121212
    }

    header, footer {
        background-color: #363636;
    }

    body {
        background-color: white;
    }

    a.navBar {
        color: #d3d3d3;
    }

}

/* Absolute CSS (Things that don't change. */

body {
    font-family: "Aptos", Helvetica, serif ;
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
}

nav {
    overflow: hidden;
    position: sticky;
    list-style-type: none;
    padding: 0;
    top: 0;
    width: 100%;
}

a.navBar {
    text-decoration: none;
}
a.navBar:hover {
    color:black;
}

footer {
    position: absolute;
    padding: 1.15rem;
    width: 100%;
    bottom: 0
}
header {
    position: sticky;
    width: 100%;
    top: 0
}

#Flex1 {
    display: flex;
    padding: 2.5em;
}

li {
    display: inline;
    margin: 24px;
    border-radius: 5px;
}