/* Include your style in here for all pages. 
Extra style for cssdemo.html can be added in cssdemo.css */

/* Chad Dark Theme Enjoyers. */
@media (prefers-color-scheme: dark) {
    * {
        color: #f0f0f0
    }

    header, footer {
        background-color: #363636;
    }

    body {
        background-color: #121212;
    }

    a.navBar {
        color: #d3d3d3;
        background: #484848;
        border: 2px #484848 solid;
    }

    a.navBar:hover {
        background: whitesmoke;
        color:black;
    }

    a.JSDemo {
        color: #d3d3d3;
        background: #484848;
        border: 2px #484848 solid;
    }

    a.JSDemo:hover {
        background: whitesmoke;
        color:black;
    }

    #Flex1 {
        background-color: #242424;
    }

    #flex_Index_MainPage {
        background: #161616;
    }

    .flex2_div{
        background-color: #242424;
    }

}
/* Light Theme users. */
@media (prefers-color-scheme: light) {
    * {
        color: #121212
    }

    h1, h2, h3{
        color: #303f9f;
    }

    header, footer {
        background-color: #e8f0fe;
    }

    body {
        background-color: #ffffff;
    }

    a.navBar {
        color: #e8f0fe;
        background: #303f9f;
        border: 2px #303f9f solid;
    }

    a.navBar:hover {
        background: whitesmoke;
        color:black;
    }
    #flex1_Index {
        /*background-color: #303f9f;*/
    }
    a.JSDemo {
        color: #e8f0fe;
        background: #303f9f;
        border: 2px #303f9f solid;
    }

    a.JSDemo:hover {
        background: whitesmoke;
        color:black;
    }

    #flex_Index_MainPage {
        background: #e8f0fe;
    }

    .flex2_div{
        background-color: #e8f0fe;
    }


}

/* CSS for Mobile */
@media (max-width: 770px) {

    body {
        display: grid;
        padding-top: 65px;
        position: relative;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding-bottom: 10px;
    }

    #QualCSS {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        max-width: 100vw;
        bottom: 0;
        position: fixed;
    }

    #NavUL {
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 0;
        margin: 6px;
        height: 4vh;
    }

    nav {
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
        min-width: 100vw;
        text-align: center;
    }

    a.navBar {
        font-size: 13px;
        display: inline-block;
        text-decoration: none;
        padding: 6px;
    }

    li.NavLI {
        text-align: center;
        display: inline;
        margin: 2px;
        border-radius: 5px;
    }

    #flex_Index_MainPage, #flex_Index_Hobbies {
        box-sizing: border-box;
        display: flex;
        max-width: 100vw;
        flex-flow: row wrap;
        margin-right: 5%;
        margin-left: 5%;
    }

    #flex_Index_MainPage {
        padding-top: 20px;
    }

    #flex_Index_Hobbies {
        padding-bottom: 52px;
        row-gap: 25px;
    }

    #flex2_Index {
        padding-bottom: 34px;
    }

    #interests_DIV {
        margin: 5%;
    }

    .flex1_Div_Demo {
        min-width: 45vw;
        max-width: 75vw;

    }
    #flex1_Demo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-basis: 100vw;
        max-width: 95vw;
        margin: auto;
        column-gap: 5px;
        row-gap: 10px;
    }

    .photoOfMe {
        display: block;
        margin: auto;
        max-width: 128px;
        max-height: 128px;

    }

    #YetAnotherFlexBox {
        display: flex;
        flex-flow: row wrap;
        box-sizing: border-box;
        max-width: 100vw;
        max-height: 100vh;
        padding: .5rem;
        margin: 0;
    }


    footer {
        text-align: center;
        position: absolute;
        font-size: 12px;
        max-width: 100vw;
        top: 0;
        padding: 1rem;
    }

    #flex_Footer {
        display: flex;
        max-width: 100vw;
        max-height: 100vh;
    }

    .VectorImg {
        width: 32px;
        height: 32px;
    }
    #CSS {
        justify-content: center;
        align-self: center;
        min-width: 5vw;
        max-width: 16vw;
    }
    #JS {
        justify-content: center;
        align-self: center;
        min-width: 5vw;
        max-width: 16vw;
    }

    #StarAVIF {
        max-width: 90vw;
    }

    .flex2_div{
        padding: 2%;
    }

    article {
        padding-bottom: 44px;
    }
}

/* CSS at 1080p */
@media (min-width: 770px) {

    body {
        position: relative;
        min-height: 100vh;
        min-width: 100vh;
        padding-top: 34px;
        margin: 0;

    }

    #QualCSS {
        margin: 5%
    }

    nav {
        list-style-type: none;
        text-decoration: none;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        top: 0;
        max-width: 100vw;
        max-height: 100vh;
        min-height: 45px;
    }

    #interests_DIV {
        margin: 5%;
    }

    a.navBar {
        text-decoration: none;
        padding: 12px;
    }

    footer {
        position: relative;
        max-width: 100vw;
        max-height: 100vh;
        bottom: 0;
        padding: 1em;
    }
    #flex_Footer {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        max-height: 100vh;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0
    }

    #flex_Index_MainPage, #flex_Index_Hobbies {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
        gap: 1em;
        padding: 1em;
    }

    #flex_Index_MainPage {
        margin: 5%;
    }

    #flex_Index_Intro {
        min-width: 20vw;
        max-width: 55vw;
    }

    .flex2_div{
        width: 45vw;
        padding: 1%;
    }

    .flex_Index_Hobbies {
        flex-direction: row;
        gap: 0;
        flex-wrap: wrap;
        flex-basis: 20vw;
        box-sizing: border-box;
        padding-bottom: 60px;
    }

    .flex1_Div_Demo {
        min-width: 35vw;
        max-width: 75vw;
    }

    #YetAnotherFlexBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-basis: 100%;
    }
    #flex1_Demo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-basis: 100vw;
        margin: 2rem;
        gap: 1rem;
        padding: .5rem;
        max-width: 100vw;
    }

    li.NavLI {
        display: inline;
        margin: 24px;
        border-radius: 5px;
    }

    .photoOfMe {
        justify-content: center;
        align-items: center;
        width: 256px;
        height: 256px;
        border: #242424 3px solid;
    }

    .VectorImg {
        width: 64px;
        height: 64px;
    }

    #HTMLVali {
        padding: 4px;
        border: #242424 2px solid;
    }

    #CSS {
        justify-content: center;
        align-self: center;
        min-width: 2vw;
        max-width: 13vw;
    }

    #JS {
        justify-content: center;
        align-self: center;
        min-width: 2vw;
        max-width: 13vw;
    }

    #StarAVIF {
        max-width: 90vw;
    }
}

body {
    font-family: Aptos, Bahnschrift, Roboto, serif;
}

a.JSDemo {
    font-size: 13px;
    text-decoration: none;
    padding: 6px;
}

* {
    max-width: 100vw;
    max-height: 100vh;
}

/* TODO - Fully Flesh out Light theme */
/* TODO - Fix Picture Not Centering */